body {
    background-color: lightskyblue;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    color: cornsilk;
}

h2 {
    color: SeaGreen;
}

p,
li {
    font-size: 18px;
}

a {
    text-decoration: none;
}